@import url('https://fonts.googleapis.com/css?family=Roboto')

html
  font-family: 'Roboto', sans-serif
  font-size: 15px
  letter-spacing: .2px

body
  height: 100%
  margin: 0
  background: #ddd

h2
  text-align: center

.container
  padding: 0 0 10px 0

th, tr
  height: 50px
  text-align: center
  padding: 0 10px

tr
  box-shadow: 0 .1px 1px rgba(0,0,0,0.16), 0 .1px 1px rgba(0,0,0,0.23)

tbody tr:nth-of-type(even), thead
  background: #fff

table, td
  border-collapse: collapse

table
  width: 100%

img
  width: 50px
  border-radius: 50%

td
  padding: 5px

td:nth-child(3), th:nth-child(3)
  text-align: left

a
  text-decoration: none
  color: black

  &:hover
    color: #2b90d9
